.auth-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  .auth-buttons {
    text-align: center; 
    a {
      display: block;
      margin-bottom: 10px;
    }
    .button {
      width: 100%;
      height: 64px;
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .button:hover {
      cursor: pointer;
    }
  }
}

.login {
  color: #bbc4e5;
  background-color: #3053e4;
}

@media (max-width: 600px) {
  .login {
    color: #3053e4;
    background-color: white;
  }
}